<!DOCTYPE HTML>
<html>
	<head>
		<title>Bazar Yuka - Presentes e Utensílios</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="estilo.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index" class="logo"> <img src="images/logo.jpg" class="logo_foto" ></a>
					<nav id="nav">
						<a href="index">Início</a>
						<a href="#one">Produtos</a>
						<a href="#two">Serviços</a>
						<a href="#three">Fale Conosco</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Loja Yuka</h1>
				<p>Presentes e Utensílios</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Material Escolar<br /></h3>
							</header>
							<p>Vendemos todo tipo de material escolar no melhor preço possível.</p>
							<footer>
								<div class="image round">
								<img src="images/pic10.jpg" width="250px" height="250px" />
							</div>
							</footer>
						</article>
						<article>
							<header>
								<h3>Ferramentas e Utensílios<br /></h3>
							</header>
							<p>Das coisas mais básicas a complexas de acordo com sua necessidade!</p>
							<footer>
								<div class="image round">
								<img src="images/pic11.jpg" width="250px" height="250px" />
							</div>
							</footer>
						</article>
						<article>
							<header>
								<h3>Brinquedos<br /></h3>
							</header>
							<p>Venha conferir os melhores preços de brinquedos!</p>
							<footer>
								<div class="image round">
								<img src="images/pic12.jpg" width="250px" height="250px" />
							</div>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>Serviços</h2>
						<!--<p></p>-->
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="images/pic03.jpg" width="250px" height="230px" />
							</div>
							<h3>Recargas de Celulares</h3>
							<p>Claro, TIM, Oi, Vivo, Nextel</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/pic04.png" width="250px" height="230px"  />
							</div>
							<h3>Recargas de Bilhete Único e BOM</h3>
							<p>A partir de R$ 5,00</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/pic05.jpg" width="250px" height="230px"  />
							</div>
							<h3>Impressões</h3>
							<p>Por pen drive e online</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/pic06.png" width="250px" height="230px"  />
							</div>
							<h3>Digitação de currículos</h3>
							<p>Segundas à Sextas</p>
						</div>
					</div>
				</div>
			</section>

		


			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Fale Conosco</h2>
						<p>Entre em contato conosco por e-mail ou telefone.</p>
					</header>
					<div class="flex flex-2">
					
					
						<article>
							<form method="POST" action="/">
								<div class="image fit">
									<h3>Nos envie uma mensagem!</h3>
									<textarea name="mensagem" required></textarea>
								</div>
								Nome: <input type="text" name="nome" required/>
								<br>
								Telefone: <input type="text" name="telefone" required />
								<br>
								<footer>
									<script>
										function mensagemEnviada(){
											alert("Mensagem enviada!");	
										}
									</script>
									<button class="button special" onclick="mensagemEnviada()">Enviar</button>
								</footer>
							</form>
						</article>
						
						


						
						<article>
							<div class="image fit">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.4023767812478!2d-46.752204984672254!3d-23.6257567846509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce54007cbd8c7f%3A0xf923487c88743d1a!2sR.+Castanho+Mirim%2C+119+-+Parque+Reboucas%2C+S%C3%A3o+Paulo+-+SP%2C+05735-050!5e0!3m2!1spt-BR!2sbr!4v1557679929358!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
							<header>
								<h3>Faça-nos uma visita!</h3>
							</header>
							<p>Rua Castanho Mirim, 119 - Parque Rebouças
							<br>E-mail: bazar.yuka@hotmail.com
							<br>Telefones: (11) 5844-3119 / WhatsApp: (11) 95362-8643</p>
						</article>
						
						
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Desenvolvido por Yuri Pinheiro Silva. Contato: <a href="https://www.linkedin.com/in/yuri-pinheiro-1b2789113/">LinkedIn</a>. 
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/bazaryuka/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>